body {
  margin: 0;
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

/* ================ typography ================ */

.container img {
  height: 100%;
  width: 100%;
  order: -1;
}

.container img,
h1 {
  margin-bottom: 1.5em;
}

h1 {
  font-size: 1.1rem;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 0.9375rem;
  color: hsl(220, 15%, 55%);
}

h1,
p {
  margin-top: 0;
}

/* ================ classes ================ */

.container {
  background-color: #fff;
  padding: 2em 1.7em;
  min-height: fit-content;
  width: 35%;
  height: fit-content;
  margin: 0;
  padding: 0.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
}

.container,
.container img {
  border-radius: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.order {
  display: flex;
  flex-direction: column;
}

.desc {
  order: 1;
}

@media (min-width: 720px) {
  body {
    font-size: 16px;
    max-width: 800px;
    max-height: 320px;
  }
  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.275rem;
  }
  .container {
    max-height: 520px;
    max-width: 300px;
  }
  .container img {
    max-height: 300px;
    max-width: 300px;
  }
}
